{% extends 'cliente/base.html' %}

{% block content %}

<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>Sobre nosotros!</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <p>Somos una iniciativa de estudiantes de la universidad EAFIT que tiene como objetivo crear un sistema que permita la mejora de tiemps en los servicios de comida dentro de la universidad</p>
            <p>Buscamos mediante el software soluciones para la comodida de la comunidad universitaria y la ciudad de Medellín</p>
        </div>
    </div>
</div>

{% endblock content%}